# Nuxt dev/build outputs
.output
.cache
.nitro
.data
.nuxt
dist

# Node dependencies
app/assets/fonts
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
